html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em sans-serif, georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: rgb(253, 247, 247);
}
body {
  overflow: hidden;
  margin: 0;
  color: rgb(245, 143, 11);
  font-family: sans-serif, georgia, serif;
  font-weight: normal;
  background-image: linear-gradient(45deg, rgb(246, 195, 132),rgb(250, 140, 146));
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: auto;
  font-family: sans-serif;
  
}

.nav {
  display: flex;
  background-color: darkorange;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link-item {
  padding-right: 2rem;
  padding-left: 2rem;
}

.nav-link-text {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

.nav-link-text:hover {
  color: crimson;
}
.title {
  color: crimson;
}
